@use './variables' as *;

@import 'bootstrap/dist/css/bootstrap.min.css';
@import './fonts.css';

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $color-quaternary;
  font-size: 16px;
}

.main-section {
    padding-top: 60px;
    padding-bottom: 60px;

    .main-section__title {
        margin-bottom: 2rem;
        text-align: center;
    }
}
